.entity {
  width: 30vw;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.entity path {
  d: path(
    "M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45	c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2	c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7	c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z"
  );
  /*animation: morph 5s infinite;*/
  /*animation: both 1s;*/
  transition: all 1.5s;
  transition-delay: 0.75s;
}

.morph path {
  /*animation-name: morph;*/
  d: path(
    "M51,171.3c-6.1-17.7-15.3-17.2-20.7-32c-8-21.9,0.7-54.6,20.7-67.1c19.5-12.3,32.8,5.5,67.7-3.4C145.2,62,145,49.9,173,43.4 c12-2.8,41.4-9.6,60.2,6.6c19,16.4,16.7,47.5,16,57.7c-1.7,22.8-10.3,25.5-9.4,46.4c1,22.5,11.2,25.8,9.1,42.6	c-2.2,17.6-16.3,37.5-33.5,40.8c-22,4.1-29.4-22.4-54.9-22.6c-31-0.2-40.8,39-68.3,35.7c-17.3-2-32.2-19.8-37.3-34.8	C48.9,198.6,57.8,191,51,171.3z"
  );
}

.morph2 path {
  d: path(
    "m473.21411,150.72435c-2.28794,3.43191 7.92874,38.41851 -54.35697,42.98994c-62.28571,4.57143 -107.42857,-48 -194.28571,-12c-86.85714,36 -128.57143,-25.71429 -81.14286,101.14286c47.42857,126.85714 65.71429,155.42857 117.71429,165.71429c52,10.28571 88,-64.57143 171.42857,4.57143c83.42857,69.14286 56,161.71429 126.28571,72.57143c70.28571,-89.14286 110.28571,-84 73.14286,-132c-37.14286,-48 -133.71429,-28 -106.85714,-89.14286c26.85714,-61.14286 46.85714,-67.42857 49.71429,-86.85714c2.85714,-19.42857 -4.57143,-69.14286 -50.85714,-73.14286c-46.28571,-4 -48.49795,2.72101 -50.78589,6.15292z"
  );
}

@keyframes morph {
  to {
    d: path(
      "M51,171.3c-6.1-17.7-15.3-17.2-20.7-32c-8-21.9,0.7-54.6,20.7-67.1c19.5-12.3,32.8,5.5,67.7-3.4C145.2,62,145,49.9,173,43.4 c12-2.8,41.4-9.6,60.2,6.6c19,16.4,16.7,47.5,16,57.7c-1.7,22.8-10.3,25.5-9.4,46.4c1,22.5,11.2,25.8,9.1,42.6	c-2.2,17.6-16.3,37.5-33.5,40.8c-22,4.1-29.4-22.4-54.9-22.6c-31-0.2-40.8,39-68.3,35.7c-17.3-2-32.2-19.8-37.3-34.8	C48.9,198.6,57.8,191,51,171.3z"
    );
  }
}
